<html lang="en">
    <head>
        <title>{{title}}</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="description" content="{{title}}}">
        <meta name="keywords" content="Free,Text,Analytics,LLM,CSV,JSON">
        <meta property="og:title" content="{{title}}}">
        <meta property="og:description" content="{{title}}">

        <meta name="twitter:title" content="{{title}}">
        <meta name="twitter:description" content="{{title}}">


        <meta name="twitter:card" content="{{title}}">

        <meta property="og:url" content="{{url}}">
        <meta name="twitter:url" content="{{url}}">

        <link href="https://unpkg.com/tabulator-tables@6.2.5/dist/css/tabulator.min.css" rel="stylesheet">
        <script src="llm_analytics.js"></script>
        <link href="style.css" rel="stylesheet">
        <script type="module" src="llm_analytics_module.js"></script>
        <script type="text/javascript" src="https://unpkg.com/tabulator-tables@6.2.5/dist/js/tabulator.min.js"></script>
{% if recaptcha_key != "" %}
    {% block captcha_content %}
<script src="https://www.google.com/recaptcha/api.js?render={{recaptcha_key}}"></script>
<script>
    async function get_captcha_token()
    {
        var recaptcha_token = '';
        grecaptcha.ready(() => {
            grecaptcha.execute('{{recaptcha_key}}', {action: 'submit'}).then((token) => {
                recaptcha_token = token;
            });
        });
        while(recaptcha_token === ''){
            await new Promise(r => setTimeout(r, 100));
        }
        return recaptcha_token;
    }
</script>
    {% endblock captcha_content %}
{% else %}
    {% block no_captcha_content %}
<script>
    async function get_captcha_token()
    {
        return "";
    }
</script>
    {% endblock no_captcha_content %}
{% endif %}
{% if gtag != "" %}
    {% block analytics_content %}
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{gtag}}"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', '{{gtag}}');
        </script>
    {% endblock analytics_content %}
{% endif %}
    </head>
<body>
    <h3>Choose a CSV or a JSON lines file to analyze and ask analytic questions about it</h3>
    <p>File will be analyzed locally, inside your web browser</p>
    <input onchange="file_change()" type="file" id="file" name="file" /><label id="record_count"></label>

    <br/><br/>
    <textarea class="search-box" id="question_input-0" rows="3" onkeydown="handleKeyDown(event)"></textarea>
    <br/>

    <span style="display:{% if advanced %}block{% else %}none{% endif %};">
        <br/>
        <label>Samples:<input style="width: 30px" type="number" id="num_samples" value="5"/></label>
        <label>Model:<select style="width: 120px" id="model_id">
            <option value="anthropic.claude-instant-v1" selected="selected">Claude Instant</option>
            <option value="ai21.jamba-instruct-v1:0">Jamba Instruct</option>
        </select></label>
        <label>Hint:<input style="width: 30%" type="text" id="hint" value=""/></label>
        <label>version: {{version}}</label>
    </span>
    <div class="status-bar">
        <span id="status-0" class="status-text"></span>
        <span id="loader-0" class="loader"></span>
    </div>
    <div class="results" id="results-table-0"></div>
    <br/>
    <table class="sub-results">
        <tr>
            <td class="sub-results-drill-down-button">
                <button id="drill_down_button-0" class="plus-button" style="display: none" onclick="document.getElementById('drill_down-0').style.display = 'block'">+</button>
            </td>
            <td class="sub-results-results">
    <div id="drill_down-0" style="display: none;">
        <textarea class="search-box" id="question_input-1" rows="3" onkeydown="handleKeyDown(event)"></textarea>
        <div class="status-bar">
            <span id="status-1" class="status-text"></span>
            <span id="loader-1" class="loader"></span>
        </div>
        <div class="results" id="results-table-1"></div>
        <br/>
        <table class="sub-results">
            <tr>
                <td class="sub-results-drill-down-button">
                    <button id="drill_down_button-1" class="plus-button" style="display: none" onclick="document.getElementById('drill_down-1').style.display = 'block'">+</button>
                </td>
                <td class="sub-results-results">
<div id="drill_down-1" style="display: none;">
        <textarea class="search-box" id="question_input-2" rows="3" onkeydown="handleKeyDown(event)"></textarea>
        <div class="status-bar">
            <span id="status-2" class="status-text"></span>
            <span id="loader-2" class="loader"></span>
        </div>
        <div class="results" id="results-table-2"></div>
</div>
                </td>
            </tr>
        </table>
    </div>
            </td>
        </tr>
    </table>
</body>
</html>