<html lang="en">
    <head>
        <title>LLM Analytics</title>
        <link href="https://unpkg.com/tabulator-tables@6.2.5/dist/css/tabulator.min.css" rel="stylesheet">
        <link href="static/style.css" rel="stylesheet">
 <script type="text/javascript" src="https://unpkg.com/tabulator-tables@6.2.5/dist/js/tabulator.min.js"></script>

<script type="module">
    import * as duckdb from "https://cdn.jsdelivr.net/npm/@duckdb/duckdb-wasm/+esm";

    async function instantiate(duckdb) {
  const CDN_BUNDLES = duckdb.getJsDelivrBundles(),
  bundle = await duckdb.selectBundle(CDN_BUNDLES),
  worker_url = URL.createObjectURL(
    new Blob([ `importScripts("${bundle.mainWorker}");` ], {
      type: "text/javascript"
    })
  );
  const worker = new Worker(worker_url),
  logger = new duckdb.ConsoleLogger("DEBUG"),
  db = new duckdb.AsyncDuckDB(logger, worker);

  await db.instantiate(bundle.mainModule, bundle.pthreadWorker);
  URL.revokeObjectURL(worker_url);
  return db;
}
window.duck_db = await instantiate(duckdb);
        </script>

        <script>
let db = null
let sqls = [null, null, null]

async function create_db(file_url, file_name) {
    const db = await window.duck_db.connect();
    let table_name = get_table_name(0);
    window.duck_db.registerFileURL(table_name, file_url, 4, false);
    if (file_name.endsWith(".jsonl")) {
        let load_query = `CREATE TABLE ${table_name} AS
                    SELECT * FROM read_json("${table_name}",format =newline_delimited,auto_detect=true)`
        await db.query(load_query);
    }
    else if (file_name.endsWith(".csv")) {
        let load_query = `CREATE TABLE ${table_name} AS
                    SELECT * FROM read_csv("${table_name}", auto_detect=true)`
        await db.query(load_query);
        document.getElementById("record_count").innerText = "(" +
            JSON.parse(await db.query(`SELECT COUNT(1) AS cnt FROM ${table_name}`))[0]["cnt"] + " records)";
    }
    else {
        console.log("Unsupported file format: " + file_name)
    }
    console.log("DB Initialized")
    return db
}

async function file_change() {
    let file = document.getElementById("file").files[0];
    let url = (window.URL || window.webkitURL).createObjectURL(file);
    db = await create_db(url, file.name);
}

async function handleKeyDown(event) {
    if (event.key === "Enter" && !event.shiftKey) {
        event.preventDefault();

        let index = parseInt(event.target.id[event.target.id.length - 1]);
        let table_name = get_table_name(index);
        clear_results_and_status(index)
        if (index > 0) {
            await db.query(`DROP TABLE IF EXISTS ${table_name}`);
            let load_query_sql = `CREATE TABLE ${table_name} AS (${sqls[index - 1]})`;
            await db.query(load_query_sql);
            console.log('Sub query loaded')
        } else {
            if (document.getElementById("file").files.length === 0) {
                set_status(index, "Please upload a file first");
                return
            }

        }
        sqls[index] = await run_query(index, table_name);
        if ((sqls[index] != null) && (index < sqls.length - 1)) {
            document.getElementById(`drill_down_button-${index}`).style.display = 'block';
        }
    }
}

function clear_results_and_status(index) {
    document.getElementById(`results-table-${index}`).outerHTML = `<div class=\"results\" id=\"results-table-${index}\"></div>`
    set_status(index, "")
    if (index < sqls.length - 1) {
        document.getElementById(`drill_down-${index}`).style.display = 'None';
        document.getElementById(`drill_down_button-${index}`).style.display = 'none';
    }
}

function set_status(index, text) {
    document.getElementById(`status-${index}`).innerText = text
}

function get_table_name(index) {
    return `my_table_${index}`
}


async function run_query(index) {
    const my_url = new URL(window.location.origin + "/sql");
    let question = document.getElementById(`question_input-${index}`).value;
    let table_name = get_table_name(index);
    my_url.searchParams.append("question", question);
    my_url.searchParams.append("table_name", table_name);
    my_url.searchParams.append("hint", document.getElementById("hint").value);
    let num_samples = document.getElementById("num_samples").value;
    if (num_samples > 0)
        my_url.searchParams.append("sample_data", await db.query(`SELECT *
                                                                  FROM ${table_name} LIMIT ${num_samples}`));
    let metadata = await db.query(`SUMMARIZE ${table_name}`);
    my_url.searchParams.append("metadata", metadata);
    let cols_with_distinct_values = [];
    JSON.parse(metadata).forEach((column) => {
        if (column["approx_unique"] <= 20) {
            cols_with_distinct_values.push(column["column_name"]);
        }
    });
    if (cols_with_distinct_values.length > 0) {
        let distinct_values_sql = "SELECT "
        cols_with_distinct_values.forEach((col) => {
            distinct_values_sql += `ARRAY_AGG(DISTINCT "${col}") AS "${col}",`
        });
        distinct_values_sql = distinct_values_sql.slice(0, -1) + ` FROM ${table_name}`;
        my_url.searchParams.append("distinct_values", await db.query(distinct_values_sql));
    }
    my_url.searchParams.append("model_id", document.getElementById("model_id").value);
    let response = await fetch(my_url.href);
    let sql = await response.text();
    console.log(sql)

    let COMMENT_REGEXP = "\\s*\\/\\*((?:.|\\n)*)\\*\\/"
    let match = sql.match(COMMENT_REGEXP);
    if (match) {
        set_status(index, match[1]);
    }
    let previous_error = null
    let previous_sql = sql
    try {
        let text_data = await db.query(sql);
        show_data(index, text_data)
        return sql;
    } catch (e) {
        previous_error = e.toString()
        console.log(previous_error)
        console.log("Going to retry")
    }
    if (previous_error != null) {
        my_url.searchParams.append("previous_error", previous_error);
        my_url.searchParams.append("previous_sql", previous_sql);
        let retry_response = await fetch(my_url.href);
        let retry_sql = await retry_response.text();
        try {
            let text_data = await db.query(retry_sql);
            show_data(index, text_data)
            return retry_sql;
        } catch (e) {
            set_status(index, e.toString())
        }
    }
    return null
}
function show_data(index, text_data) {
    try {

        let json_data = JSON.parse(text_data);

        new Tabulator(`#results-table-${index}`, {
            data: json_data,
            autoColumns: true,
            pagination: "local",
            paginationSize: 20,
            layout: "fitColumns"
        });
    } catch (e) {
        set_status(index, e)
    }
}
        </script>
    </head>
<body>

    <input onchange="file_change()" type="file" id="file" name="file" /><label id="record_count"></label>

    <br/><br/>
    <textarea class="search-box" id="question_input-0" rows="3" onkeydown="handleKeyDown(event)"></textarea>
    <br/>

    <span style="display:{% if advanced %}block{% else %}none{% endif %};">
        <br/>
        <label>Samples:<input style="width: 30px" type="number" id="num_samples" value="5"/></label>
        <label>Model:<select style="width: 120px" id="model_id">
            <option value="anthropic.claude-instant-v1" selected="selected">Claude Instant</option>
            <option value="ai21.jamba-instruct-v1:0">Jamba Instruct</option>
        </select></label>
        <label>Hint:<input style="width: 30%" type="text" id="hint" value=""/></label>
        <label>version: {{version}}</label>
    </span>
    <div class="status-bar">
        <span id="status-0" class="status-text"></span>
    </div>
    <div class="results" id="results-table-0"></div>
    <br/>
    <table class="sub-results">
        <tr>
            <td class="sub-results-drill-down-button">
                <button id="drill_down_button-0" class="plus-button" style="display: none" onclick="document.getElementById('drill_down-0').style.display = 'block'">+</button>
            </td>
            <td class="sub-results-results">
    <div id="drill_down-0" style="display: none;">
        <textarea class="search-box" id="question_input-1" rows="3" onkeydown="handleKeyDown(event)"></textarea>
        <div class="status-bar">
            <span id="status-1" class="status-text"></span>
        </div>
        <div class="results" id="results-table-1"></div>
        <br/>
        <table class="sub-results">
            <tr>
                <td class="sub-results-drill-down-button">
                    <button id="drill_down_button-1" class="plus-button" style="display: none" onclick="document.getElementById('drill_down-1').style.display = 'block'">+</button>
                </td>
                <td class="sub-results-results">
<div id="drill_down-1" style="display: none;">
        <textarea class="search-box" id="question_input-2" rows="3" onkeydown="handleKeyDown(event)"></textarea>
        <div class="status-bar">
            <span id="status-2" class="status-text"></span>
        </div>
        <div class="results" id="results-table-2"></div>
</div>
                </td>
            </tr>
        </table>
    </div>
            </td>
        </tr>
    </table>

</body>
</html>